.calculator {
    display: block;
    padding: 20px;
    background-color: #A1D6E2;
    width: 350px;
    height: 500px;
    border-radius: 25px;
}

.calculator td  button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
    background-color: #BCBABE;
    border-radius: 5px;
    border: #1995AD 1px solid ;
}

#result {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 310px;
    height: 100px;
    line-height: 100px;
    background-color: #F1F1F2;
    border-radius: 1px;
    overflow-y: scroll;
}